@model NBPMuzika.Models.Entiteti.AlbumModel

@{
    ViewBag.Title = Model.Album[0].name+" - Music Library";
}
<link href="~/Views/Album/Rating.css" rel="stylesheet"/>
<!--Kada se klikne na bend treba da se dodje do sajta bend-->
<h3>@Html.ActionLink(Model.Bend[0].name,"Details","Bend",new { id = Model.Bend[0].id },null) - @Model.Album[0].name</h3>

<div class="row">
    <div class="col-sm-3">
        <p>
            <label>Genre:</label>
            @Model.Album[0].zanr
        </p>
        <p>
            <label>Relese year:</label>
            @Model.Album[0].godina
        </p>
        <p>
            <label>Track number</label>
            @Model.Album[0].brojPesama
        </p>
    </div>
</div>


<table class="table table-hover table-bordered">
    <tr>
        <th>Tracklist</th>
    </tr>

@foreach (var item in Model.Pesme) {
    <tr>
        <td>
            @item.name
        </td>
    </tr>
}

</table>

<table class="table table-hover table-bordered">
    <tr>
        <th>Producers</th>
    </tr>

    @foreach (var prod in Model.Producent)
    {
        <tr>
            <!--Kada se klikne na producera treba da se ide na sajt tog producera-->
            <td>@Html.ActionLink(Model.Producent[0].name, "Details", "Producent",new { id = Model.Producent[0].id },null)</td>
        </tr>
    }
</table>

