@model NBPMuzika.Models.Entiteti.Sve

<h2 class="text-center font-weight-bold">Homepage</h2>
<div class="row">
    <div class="col-4">
        <h3 class="text-danger">NEW</h3>
    </div>
    <div class="col-4">
        <h3 class="text-success">POPULAR</h3>
    </div>
    <div class="col-4">
        <h3 class="text-warning">CURRENTLY VIEWED</h3>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <table class="table table-hover table-bordered">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Tip
                </th>
            </tr>

            @foreach (var item in Model.novo)
            {
                <tr class="click-me" role="button" style="cursor: pointer" data-href='/@item.type/details/@item.id'>
                    <td class="text-info">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-4">
        <table class="table table-hover table-bordered">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Tip
                </th>
            </tr>

            @foreach (var item in Model.trending)
            {
                <tr class="click-me" role="button" style="cursor: pointer" data-href='/@item.type/details/@item.id'>
                    <td class="text-info">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-4">
        <table class="table table-hover table-bordered">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Tip
                </th>
            </tr>

            @foreach (var item in Model.current)
            {
                <tr class="click-me" role="button" style="cursor: pointer" data-href='/@item.type/details/@item.id'>
                    <td class="text-info">
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.type)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@section Scripts
{
<script>
    jQuery(document).ready(function ($) {
        $(".click-me").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
}